<h1> Booked Dates </h1>

<% @bookings.each do |booking| %>
  <sub> <%= booking.start_date %> </sub>
  <sub> <%= booking.end_date %> </sub>
<% end %>


<form action="/<%= params[:id] %>/booking" method="post" >
  <input type="date" id="start_date" name="start_date">
  <input type="date" id="end_date" name='end_date'>
  <input type="Submit" value="Submit">
</form>
