<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../style/booking.css">
  <link rel="stylesheet" href="../pickadate/lib/themes/classic.css">
  <link rel="stylesheet" href="../pickadate/lib/themes/classic.date.css">
  <script src="../jquery/dist/jquery.js"></script>
  <script src="../pickadate/lib/legacy.js"></script>
  <script src="../pickadate/lib/picker.js"></script>
  <script src="../pickadate/lib/picker.date.js"></script>
</head>

<div class='title_box'>
  <div class='title'>
    <%= @space.title %>
  </div>
  <div class='location'>
    <%= @space.location %>
  </div>
</div>

<body>
  <div class='centered_pic'>
    <img src='https://i.dailymail.co.uk/i/pix/2015/06/10/15/29815E0C00000578-0-image-m-5_1433947137443.jpg'>
  </div>

  <div class='centered'>
    <div class='date_box'>
      <div class='destination'>
        Your Destination Awaits... One click away
      </div>

      <div class='padding'>
        <form action="/booking/<%= params[:id] %>" method="post" >
          <input type="date" id="start_date" name=start_date placeholder="Start Date" class="picker__input picker__input--active">
          <input type="date" id="end_date" name=end_date placeholder="End Date" class="picker__input picker__input--active">
          <input type="Submit" value="Submit">
        </form>

        <script>
          var disabled = <%= @disabled.to_json %>
          var disabledLength = disabled.length
          var $input = $('#start_date').pickadate({
              min: true,
              set: true
          })
          var picker = $input.pickadate('picker')
          for (var i = 0; i < disabledLength; i++) {
            picker.set('disable', [
              disabled[i]
            ])
          }


          var $end = $('#end_date').pickadate({
              min: true,
              set: true
          })
          var dicker = $end.pickadate('picker')
          for (var i = 0; i < disabledLength; i++) {
            dicker.set('disable', [
              disabled[i]
            ])
          }
        </script>
      </div>
    </div>
  </div>
</body>
