<h1> Booked Dates </h1>

<% @bookings.each do |booking| %>
  <sub> <%= booking.start_date %> </sub>
  <sub> <%= booking.end_date %> </sub>
<% end %>


<form action="/<% @bookings.space_id %>/booking" method="post" >
  <input type="text" id="start_date" placeholder="2018/06/23">
  <input type="text" id="end_date" placeholder="2018/06/29">
  <input type="Submit" value="Submit">
</form>
