<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="pickadate/lib/themes/classic.css">
  <link rel="stylesheet" href="pickadate/lib/themes/classic.date.css">
</head>

<body>
<form>
    <input type="text" id="input_from" class="picker__input picker__input--active">
</form>

  <script src="jquery/dist/jquery.js"></script>
  <script src="pickadate/lib/legacy.js"></script>
  <script src="pickadate/lib/picker.js"></script>
  <script src="pickadate/lib/picker.date.js"></script>


  <script>
    var disabled = <%= @disabled.to_json %>
    var disabledLength = disabled.length
    var $input = $('#input_from').pickadate({
        min: true,
        set: true
    })
    var picker = $input.pickadate('picker')
    for (var i = 0; i < disabledLength; i++) {
      picker.set('disable', [
        disabled[i]
      ])
    }
  </script>


</body>
