MakersBnB

<form action="/signup" method="get">
  <input type="submit" id="create_account" value="Create Account">
</form>

<form action="/login" method="get">
  <input type="submit" id="log_in" value="Log In">
</form>

<form action="/listings" method="get">
  <input type="submit" id="view_Properties" value="View properties">
</form>

<form action="/new-listing" method="get">
  <input type="submit" id="post_listing" value="New listing">
</form>
