<header>
    <link rel="stylesheet" href="../style/index.css">
    <script src="../circletype/dist/circletype.min.js"></script>
    <script src="../jquery/dist/jquery.js"></script>
</header>
<body>

  <div class='centered_pic'>
    <div id="demo5" class='jaguar'>Team Jaguar </div>
    <div>
      <img src="https://www.biologicaldiversity.org/assets/img/species/mammals/Jaguar_c_JonathanTruong.jpg">
    </div>
    <div id='demo2'>
      Ryan,
      Muge,
      Bill,
      Alfie
    </div>
  </div>

</body>


<script>
  new CircleType(document.getElementById('demo5')).radius(720);
</script>

<script>
  new CircleType(document.getElementById('demo2'))
  .dir(-1)
  .radius(384);
</script>
