<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MakersBnB</title>
<!-- <link rel="stylesheet" type="text/css" href="style/index.css">
<link rel="icon" type="image/x-icon" href="public/favicon.png"> -->
</head>

<body>

<h1>MakersBnB</h1>

<form action="/signup" method="get">
  <input type="submit" id="create_account" value="Create Account">
</form>

<form action="/login" method="get">
  <input type="submit" id="log_in" value="Log In">
</form>

<form action="/spaces" method="get">
  <input type="submit" id="view_spaces" value="View Spaces">
</form>

<form action="/new-space" method="get">
  <input type="submit" id="post_space" value="New Space">
</form>

</body>

</html>
