<h1>MakersBnB</h1>

<form action="/signup" method="get">
  <input type="submit" id="create_account" value="Create Account">
</form>

<form action="/login" method="get">
  <input type="submit" id="log_in" value="Log In">
</form>

<form action="/spaces" method="get">
  <input type="submit" id="view_spaces" value="View Spaces">
</form>

<form action="/new-space" method="get">
  <input type="submit" id="post_space" value="New Space">
</form>
