<h1>MakersBnB</h1>

<form action="/spaces" method="get">
  <input type="submit" id="view_spaces" value="View Spaces">
</form>

<form action="/new-space" method="get">
  <input type="submit" id="post_space" value="New Space">
</form>
