MakersBnB

<form action="/signup" method="get">
  <input type="submit" id="create_account" value="Create Account">
</form>

<form action="/login" method="get">
  <input type="submit" id="log_in" value="Log In">
</form>

<form action="/new-listing" method="post">
  <input type="submit" id="post_listing" value="New listing">
</form>
