<header>
    <link rel="stylesheet" href="../style/index.css">
    <script src="../circletype/dist/circletype.min.js"></script>
    <script src="../jquery/dist/jquery.js"></script>
</header>
<div id="demo5" class='jaguar'>Team Jaguar </div>
<body>
  <div class='fixed'>

  </div>
  <div class='centered_pic'>
    <img src="https://www.biologicaldiversity.org/assets/img/species/mammals/Jaguar_c_JonathanTruong.jpg">
  </div>
  <div id='demo2' class=centered_us>
    Ryan,
    Muge,
    Bill,
    Alfie
  </div>

</body>


<script>
  new CircleType(document.getElementById('demo5')).radius(720);
</script>

<script>
  new CircleType(document.getElementById('demo2'))
  .dir(-1)
  .radius(384);
</script>
