<h1> Available Properties </h1>

<% @properties.each do |listing| %>

<section>
    <li> <%= listing.title %> </li>
    <sub> Location: <%= listing.location %> </sub>
    <sub> No. Guests: <%= listing.guests %> </sub>
</section>

<% end %>
