<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>MakersBnB</title>
<!-- <link rel="stylesheet" type="text/css" href="style/index.css">
<link rel="icon" type="image/x-icon" href="public/favicon.png"> -->
  </head>
  <body>
    <h1>New space</h1>
    <form action="/listed" method="post">
        <input type="text" name="title" placeholder="title" />
        <input type="text" name="description" placeholder="description" />
        <input type="text" name="location" placeholder="location" />
        <input type="text" name="guests" placeholder="guests" />
        <input type="text" name="type" placeholder="type" />
        <input type="submit" value="Submit" />
    </form>
  </body>
</html>
