<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MakersBnB</title>
<!-- <link rel="stylesheet" type="text/css" href="style/index.css">
<link rel="icon" type="image/x-icon" href="public/favicon.png"> -->
</head>

<body>

  <h1>Sign up</h1>
<form action="/registered" method='post'>
  <input type="text" id='name' name='name' placeholder="name"/>
  <input type="text" id='email' name='email' placeholder="email"/>
  <input type="text" id='password' name='password' placeholder="password"/>
  <input type="submit" id="submit" name='Submit'/>
</form>

</html>
</body>
